html,
body {
    height: 100%;
}

/*Login flex for mobile optimization*/

.form-flex {
    
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin {
    text-align: center;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/*issue page jumbotron*/
.centering {
    text-align: center;
    align-items: center;
}

/*print table*/


.approve-btn {
    font-size: 22px;
    background-color: white;
    color: black;
    padding: 5px 10px;
    border: 2px solid #004466;
    /* Green */
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
}

/*For issue oupass jumbotron*/



/*welcome page and print page mobile responsiveness*/
@media(max-width:577px) {
    #welcome {
        margin-top: 10%;
    }

    #print_form {
        margin-top: 10%;
    }

}

#print_form {
        padding-top: 4.5%;
    }



#student_det {
    display: inline-block;
    width: auto;
    position: absolute;
    right: 3%;
}

#issue{
    display: inline-block;
    width:25%;
}

.table-responsove {
    display: inline-block;
}

/*Footer*/

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}


Pagination #totallist_table_paginate {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important
}


#issue_page{
    text-align: center;
}